In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [4]:
# Load Dataset to Pandas data frame
df = pd.read_csv("C:\\Users\\HP\\Documents\\Singh Labs\\credit_card_fraud_detection\\Dataset\\creditcard.csv")

## Exploring the Dataset

In [5]:
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [8]:
df.isna().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [16]:
df.Class.value_counts()

0    284315
1       492
Name: Class, dtype: int64

This dataset is unbalanced, thus we will have to handle this.  
  0 --> Normal Transaction  
  1 --> Fraudulent Transaction

In [19]:
legit = df[df.Class==0]
fraud = df[df.Class==1]
legit.shape, fraud.shape

((284315, 31), (492, 31))

In [21]:
legit.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,284315.000000,284315.000000,284315.000000,284315.000000,284315.000000,284315.000000,284315.000000,284315.000000,284315.000000,284315.000000,...,284315.000000,284315.000000,284315.000000,284315.000000,284315.000000,284315.000000,284315.000000,284315.000000,284315.000000,284315.0
mean,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022,0.0
std,47484.015786,1.929814,1.636146,1.459429,1.399333,1.356952,1.329913,1.178812,1.161283,1.089372,...,0.716743,0.723668,0.621541,0.605776,0.520673,0.482241,0.399847,0.329570,250.105092,0.0
min,0.000000,-56.407510,-72.715728,-48.325589,-5.683171,-113.743307,-26.160506,-31.764946,-73.216718,-6.290730,...,-34.830382,-10.933144,-44.807735,-2.836627,-10.295397,-2.604551,-22.565679,-15.430084,0.000000,0.0
25%,54230.000000,-0.917544,-0.599473,-0.884541,-0.850077,-0.689398,-0.766847,-0.551442,-0.208633,-0.640412,...,-0.228509,-0.542403,-0.161702,-0.354425,-0.317145,-0.327074,-0.070852,-0.052950,5.650000,0.0
50%,84711.000000,0.020023,0.064070,0.182158,-0.022405,-0.053457,-0.273123,0.041138,0.022041,-0.049964,...,-0.029821,0.006736,-0.011147,0.041082,0.016417,-0.052227,0.001230,0.011199,22.000000,0.0
75%,139333.000000,1.316218,0.800446,1.028372,0.737624,0.612181,0.399619,0.571019,0.326200,0.598230,...,0.185626,0.528407,0.147522,0.439869,0.350594,0.240671,0.090573,0.077962,77.050000,0.0
max,172792.000000,2.454930,18.902453,9.382558,16.875344,34.801666,73.301626,120.589494,18.709255,15.594995,...,22.614889,10.503090,22.528412,4.584549,7.519589,3.517346,31.612198,33.847808,25691.160000,0.0

In [22]:
fraud.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,492.000000,492.000000,492.000000,492.000000,492.000000,492.000000,492.000000,492.000000,492.000000,492.000000,...,492.000000,492.000000,492.000000,492.000000,492.000000,492.000000,492.000000,492.000000,492.000000,492.0
mean,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321,1.0
std,47835.365138,6.783687,4.291216,7.110937,2.873318,5.372468,1.858124,7.206773,6.797831,2.500896,...,3.869304,1.494602,1.579642,0.515577,0.797205,0.471679,1.376766,0.547291,256.683288,0.0
min,406.000000,-30.552380,-8.402154,-31.103685,-1.313275,-22.105532,-6.406267,-43.557242,-41.044261,-13.434066,...,-22.797604,-8.887017,-19.254328,-2.028024,-4.781606,-1.152671,-7.263482,-1.869290,0.000000,1.0
25%,41241.500000,-6.036063,1.188226,-8.643489,2.373050,-4.792835,-2.501511,-7.965295,-0.195336,-3.872383,...,0.041787,-0.533764,-0.342175,-0.436809,-0.314348,-0.259416,-0.020025,-0.108868,1.000000,1.0
50%,75568.500000,-2.342497,2.717869,-5.075257,4.177147,-1.522962,-1.424616,-3.034402,0.621508,-2.208768,...,0.592146,0.048434,-0.073135,-0.060795,0.088371,0.004321,0.394926,0.146344,9.250000,1.0
75%,128483.000000,-0.419200,4.971257,-2.276185,6.348729,0.214562,-0.413216,-0.945954,1.764879,-0.787850,...,1.244611,0.617474,0.308378,0.285328,0.456515,0.396733,0.826029,0.381152,105.890000,1.0
max,170348.000000,2.132386,22.057729,2.250210,12.114672,11.095089,6.474115,5.802537,20.007208,3.353525,...,27.202839,8.361985,5.466230,1.091435,2.208209,2.745261,3.052358,1.779364,2125.870000,1.0

In [23]:
df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

## Perform Undersampling  
Build a dataset containing similar transaction distribution

In [24]:
legit_sample = legit.sample(n = 492)

In [27]:
legit_sample.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
281737,170389.0,-1.648509,-0.398904,2.664904,0.134748,0.302542,-0.021980,0.156741,-1.361970,1.162151,...,0.503097,0.237926,0.330864,-0.028250,0.339346,-0.156760,-0.317931,-0.719367,19.36,0
35460,38127.0,-0.354150,1.338011,2.075770,3.293693,-0.007364,-0.286924,0.624354,-0.121452,-0.935871,...,-0.360834,-0.652434,-0.060791,0.813730,0.150196,0.064351,0.098638,-0.148788,20.03,0
43956,41718.0,-1.383736,1.431192,1.639735,-0.121908,0.375690,-0.461111,1.294764,-0.513263,-0.045043,...,0.060815,0.278646,-0.525767,0.027224,0.609368,-0.490991,-1.263170,-0.655936,29.99,0
191934,129463.0,-0.768367,-1.052964,-0.035245,-2.119220,2.444453,3.608412,-1.267624,1.055777,-0.962585,...,0.439291,1.042889,-0.096919,0.756932,-0.176293,0.090162,-0.013380,0.298164,19.95,0
55797,47129.0,1.291506,0.421362,-0.291228,0.893712,0.419528,-0.484835,0.453886,-0.288314,-0.227385,...,-0.070797,-0.142935,-0.241499,-0.547773,0.886759,-0.303559,0.005662,0.012266,21.66,0

In [28]:
legit_sample.shape

(492, 31)

In [29]:
# Concatinating legit_sample and fraudelent data frame

In [31]:
df_sample = pd.concat([legit_sample, fraud], axis =0)

In [35]:
df_sample.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
281737,170389.0,-1.648509,-0.398904,2.664904,0.134748,0.302542,-0.021980,0.156741,-1.361970,1.162151,...,0.503097,0.237926,0.330864,-0.028250,0.339346,-0.156760,-0.317931,-0.719367,19.36,0
35460,38127.0,-0.354150,1.338011,2.075770,3.293693,-0.007364,-0.286924,0.624354,-0.121452,-0.935871,...,-0.360834,-0.652434,-0.060791,0.813730,0.150196,0.064351,0.098638,-0.148788,20.03,0
43956,41718.0,-1.383736,1.431192,1.639735,-0.121908,0.375690,-0.461111,1.294764,-0.513263,-0.045043,...,0.060815,0.278646,-0.525767,0.027224,0.609368,-0.490991,-1.263170,-0.655936,29.99,0
191934,129463.0,-0.768367,-1.052964,-0.035245,-2.119220,2.444453,3.608412,-1.267624,1.055777,-0.962585,...,0.439291,1.042889,-0.096919,0.756932,-0.176293,0.090162,-0.013380,0.298164,19.95,0
55797,47129.0,1.291506,0.421362,-0.291228,0.893712,0.419528,-0.484835,0.453886,-0.288314,-0.227385,...,-0.070797,-0.142935,-0.241499,-0.547773,0.886759,-0.303559,0.005662,0.012266,21.66,0

In [36]:
df_sample.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [38]:
df_sample.Class.value_counts()

1    492
0    492
Name: Class, dtype: int64

In [39]:
df_sample.groupby("Class").mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,92862.447154,-0.041098,0.095978,0.066086,0.129944,0.041236,-0.058413,0.090243,0.010171,-0.089290,...,0.069807,-0.038331,-0.070859,0.004373,0.002318,0.020264,0.011289,0.009054,0.002219,86.447561
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

## Dataset Split

In [41]:
X = df_sample.drop(columns='Class', axis = 1)
Y = df_sample['Class']
X,Y

(            Time        V1        V2        V3        V4        V5        V6  \
 281737  170389.0 -1.648509 -0.398904  2.664904  0.134748  0.302542 -0.021980
 35460    38127.0 -0.354150  1.338011  2.075770  3.293693 -0.007364 -0.286924
 43956    41718.0 -1.383736  1.431192  1.639735 -0.121908  0.375690 -0.461111
 191934  129463.0 -0.768367 -1.052964 -0.035245 -2.119220  2.444453  3.608412
 55797    47129.0  1.291506  0.421362 -0.291228  0.893712  0.419528 -0.484835
 ...          ...       ...       ...       ...       ...       ...       ...
 279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
 280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
 280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
 281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
 281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

               V7        V8        V9  ...       V20       V21       V22  \
 281737  0.156741 -1.361970  1.162151  ... -0.522893  0.503097  0.237926
 35460   0.624354 -0.121452 -0.935871  ...  0.413803 -0.360834 -0.652434
 43956   1.294764 -0.513263 -0.045043  ... -0.120736  0.060815  0.278646
 191934 -1.267624  1.055777 -0.962585  ...  0.379887  0.439291  1.042889
 55797   0.453886 -0.288314 -0.227385  ... -0.015703 -0.070797 -0.142935
 ...          ...       ...       ...  ...       ...       ...       ...
 279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
 280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
 280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
 281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
 281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

              V23       V24       V25       V26       V27       V28  Amount
 281737  0.330864 -0.028250  0.339346 -0.156760 -0.317931 -0.719367   19.36
 35460  -0.060791  0.813730  0.150196  0.064351  0.098638 -0.148788   20.03
 43956  -0.525767  0.027224  0.609368 -0.490991 -1.263170 -0.655936   29.99
 191934 -0.096919  0.756932 -0.176293  0.090162 -0.013380  0.298164   19.95
 55797  -0.241499 -0.547773  0.886759 -0.303559  0.005662  0.012266   21.66
 ...          ...       ...       ...       ...       ...       ...     ...
 279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
 280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
 280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
 281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
 281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

 [984 rows x 30 columns],
 281737    0
 35460     0
 43956     0
 191934    0
 55797     0
          ..
 279863    1
 280143    1
 280149    1
 281144    1
 281674    1
 Name: Class, Length: 984, dtype: int64)

In [42]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify = Y, random_state=2)

Model Training

In [43]:
model = LogisticRegression()

In [44]:
model.fit(X_train, Y_train)

LogisticRegression()

Model Evaluation

In [47]:
X_train_pred = model.predict(X_train)
train_accuracy = accuracy_score(X_train_pred, Y_train)
train_accuracy

0.9428208386277002

In [48]:
X_test_pred = model.predict(X_test)
test_accuracy = accuracy_score(X_test_pred, Y_test)
test_accuracy

0.934010152284264